NEXT_PUBLIC_SUPABASE_URL=https://crrwaepcyktjmndnapny.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNycndhZXBjeWt0am1uZG5hcG55Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTczNDA0NDgsImV4cCI6MjA3MjkxNjQ0OH0.T7SS928UPrMhzENcRxTFJAoc9IoturshJRc8gv8NsPU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNycndhZXBjeWt0am1uZG5hcG55Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzM0MDQ0OCwiZXhwIjoyMDcyOTE2NDQ4fQ.aKnpIVfItefvUEkxr3JCZMkQiQ03MooRKvMOLt1BhWo




# SMTP_USER=reinapp734@gmail.com
# SMTP_PASS=ubro jpxa mlzc qrcv
# FROM_EMAIL=reinapp734@gmail.com
# FROM_NAME=Hotel 734


SMTP_USER=info.hotel734@gmail.com
SMTP_PASS=supk fann lezp lcop
FROM_EMAIL=info.hotel734@gmail.com
FROM_NAME=Hotel 734



NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_aab7828ae5622bc9e05875d5f1de11276519aa00
PAYSTACK_SECRET_KEY=sk_test_72cdd98a61d29716959d2edb3ab73a2d0c30330f


