# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Email Configuration
SMTP_USER=info.hotel734@gmail.com
SMTP_PASS=supk fann lezp lcop
FROM_EMAIL=info.hotel734@gmail.com
FROM_NAME=Hotel 734

# Paystack Configuration
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key

